<div class="page-wrapper">
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <p>O Regulamento Geral sobre a Proteção de Dados (Regulamento (UE) 2016/679 - RGPD), que assegura a
                    execução do RGPD bem como a Lei da Proteção de dados
                    pessoais e privacidade das telecomunicações, protegem os dados pessoais. Neste
                    contexto, é apenas relativo aos dados de pessoas singulares uma vez que as pessoas
                    coletivas não se encontram abrangidos por este regulamento. Neste âmbito serão
                    apenas considerados dados pessoais, isto é, informações individuais sobre a situação
                    pessoal ou material, que possam ser associados a uma pessoa singular. </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>
                    UTILIZAÇÃO DOS DADOS PESSOAIS DO CLIENTE PELA GRAPHS4SOCIAL
                </h3>
                <p>
                    A Graphs4Social, tratará os dados pessoais tanto para o seu legítimo interesse,
                    quanto para o do cliente e, resultante disso, fornecerá os serviços relacionados com o
                    jogo que o cliente solicitou para o seu divertimento (artigo 6.º (1-f) do RGPD).
                    Caso o cliente use o jogo, os dados pessoais recolhidos serão do seguinte tipo:
                    − Nome
                    − Email
                    − Data de nascimento
                    − Número de telefone
                    − País ou região

                    A Graphs4Social, S.A. irá reter os dados pessoais do cliente, o quanto for
                    necessário para garantir a continuidade do fornecimento do jogo que o cliente pretende
                    usar, até que i) o cliente solicite à Graphs4Social, S.A. que os dados pessoais que foram
                    tratados pelo jogo ou pelos serviços relacionados ao jogo sejam eliminados, ii) o jogo da
                    Graphs4Social, S.A. ou serviços relacionados ao jogo tenham o seu fornecimento
                    encerrado no mercado. Dada a ocorrência de (i) ou (ii), o período de retenção de dados
                    do cliente pela Empresa será o seguinte:
                    - Período necessário para cumprir as obrigações legais
                    - Período necessário para a resolução de litígios
                    - Período necessário para o cumprimento do contrato
                    - Em caso de inexistência do exposto acima, 6 meses a partir do final do serviço
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>TRANSMISSÃO DE DADOS PESSOAIS A TERCEIROS</h3>
                <p>Os dados pessoais disponibilizados não serão transmitidos a terceiros.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>DIREITOS DO TITULAR DE DADOS</h3>
                <p>
                    O utilizador/cliente pode fazer uso dos seguintes direitos em relação à
                    Graph4Social:
                    − Direito de acesso do titular dos dados (artigo 15.º do RGPD).
                    O titular dos dados tem o direito de obter do responsável pelo tratamento a
                    confirmação de que os dados pessoais que lhe digam respeito são ou não objeto
                    de tratamento.
                    − Direito de retificação (artigo 16.º do RGPD).
                    O titular tem o direito de obter a retificação dos dados pessoais inexatos ou
                    incompletos que lhe digam respeito.
                    − Direito ao apagamento dos dados (artigo 17.º do RGPD).
                    O titular tem o direito de obter do responsável pelo tratamento o apagamento
                    dos seus dados pessoais perante determinados motivos
                    5
                    − Direito à limitação do tratamento (artigo 18.º do RGPD).
                    O titular, caso se apliquem determinadas condições legais, tem o direito de
                    restringir o tratamento dos dados pessoais.
                    − Direito de portabilidade dos dados (artigo 20.º do RGPD).
                    O titular tem o direito de receber os dados pessoais que lhe digam respeito num
                    formato de leitura automática.
                    − Direito de oposição (artigo 21.º do RGPD).
                    O titular dos dados tem o direito de se opor ao tratamento dos dados pessoais
                    que lhe digam respeito.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>
                    RESPONSÁVEL PELO TRATAMENTO DOS DADOS
                </h3>
                <p>Os seus dados pessoais serão tratados pela sociedade Graph4Social e esta será responsável por tal
                    tratamento. </p>
                <p> </p>
                <p>Graph4Social, S.A.</p>
                <p>Av. do Nunca, Nº9999 I, Piso 9999 C,</p>
                <p>4000-000 Porto</p>
                <p>Portugal</p>

                <p>NIPC 999 999 999</p>
                <p>Tel: +351 211 111 111</p>

                <p>Proteção de dados:</p>
                <p>Email: protecaodados@graph4social.com</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col text-center">
                <button class="btn btn-sm btn-light" routerLink="/sigin">Voltar</button>
            </div>
        </div>

    </div>
</div>