<section class="vh-100">
  <div class="container d-flex align-items-center justify-content-center vh-100">
    <form class="form-sigin" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <div class="row">
        <div class="col text-center">
          <img src="../../../assets/img/logo_transparent.png" width="150" height="150" />
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <h1 class="h3 mb-3 fw-normal">Please Login</h1>
        </div>
      </div>
      <div class="row">
        <div *ngIf="flag" class="alert alert-success d-flex align-items-center" role="alert">
          <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
          </svg>
          {{this.successMessage}}
        </div>
        <div *ngIf="!flag && flag != null" class="alert alert-warning d-flex align-items-center">
          <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
          </svg>
          {{this.errorMessage}}
        </div>
      </div>
      <div class="row form-floating mb-3">
        <input ngModel type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
        <label for="email">Email address</label>
      </div>
      <div class="row form-floating mb-3">
        <input ngModel type="password" class="form-control" id="password" name="password" placeholder="Password">
        <label for="password">Password</label>
      </div>
      <div class="row form-floating mb-3">
        <button class="w-100 btn btn-lg btn-success" type="submit">Login</button>
          <p class="small fw-bold mt-2">
            Don't have an account? <a [routerLink]="['/sigin']" class="link-danger">Register</a>
          </p>
        <p class="mt-5 mb-3 text-center">&copy; 2021-2022 Grupo 74</p>
      </div>
    </form>
  </div>
</section>
  <!--<section class="vh-100">
    <div class="container-fluid mt-5">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.png" class="img-fluid"
               alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form class="form-sigin" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
              <p class="lead fw-normal mb-0 me-3">Sign in with</p>
              <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-facebook-f"></i>
              </button>

              <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-twitter"></i>
              </button>

              <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-linkedin-in"></i>
              </button>
            </div>

            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0">Or</p>
            </div>-->
  <!-- Email input -->
  <!--<div class="form-outline mb-4">
    <input type="email" id="email" name="email" class="form-control form-control-lg"
           placeholder="Enter a valid email address" ngModel/>
    <label class="form-label" for="email">Email address</label>
  </div>-->
  <!-- Password input -->
  <!--<div class="form-outline mb-3">
    <input type="password" id="password" name="password" ngModel class="form-control form-control-lg"
           placeholder="Enter password" />
    <label class="form-label" for="password">Password</label>
  </div>-->
  <!--<div class="d-flex justify-content-between align-items-center">-->
  <!-- Checkbox -->
  <!--<div class="form-check mb-0">
      <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
      <label class="form-check-label" for="form2Example3">
        Remember me
      </label>
    </div>
    <a href="#!" class="text-body">Forgot password?</a>
  </div>-->
  <!--<div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">
                Login
              </button>
              <p class="small fw-bold mt-2 pt-1 mb-0">
                Don't have an account? <a [routerLink]="['/sigin']" class="link-danger">Register</a>
              </p>
            </div>

          </form>
        </div>
      </div>
    </div>

  </section>-->
