section {
  min-height: 100%;
  background: #F5F5F5;
}

.btn-success {
  background-color: #0DB1B7 !important;
}

.link-info {
  color: #7AD1D5 !important;
}

.bg-input {
  background-color: #EFEFEF !important;
}

